<p>Player Name: <%= @player.name %></p>
<p>Jersey Number: <%= @player.jersey_number %></p>
<p>Golden Glove Winner: <%= @player.golden_glove %></p>

<%= link_to 'Update Player', "/players/#{@player.id}/edit", method: :get %>